@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type=text]{
    width: 65%;
    padding: 5px 0;
    margin: 8px 0;
    box-sizing: border-box;
}

.row{
    width: 100%;
}